[class*="icon"]::before {
  content: "";
  background-size: 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
}


.icon-checkmark::before {
  background-image: url(../assets/site/icons/icomoon/SVG/checkmark.svg);
}
.icon-add::before {
  background-image: url(../assets/site/icons/google/SVG/add_circle.svg);
}
.icon-true::before {
  background-image: url(../assets/site/icons/google/SVG/check_circle.svg);
}
.icon-refresh::before {
  background-image: url(../assets/site/icons/google/SVG/refresh.svg);
}
.icon-trash::before,
.icon-delete::before {
  background-image: url(../assets/site/icons/google/SVG/delete.svg);
}
.icon-remove::before {
  background-image: url(../assets/site/icons/google/SVG/delete_forever.svg);
}
.icon-comments::before {
  background-image: url(../assets/site/icons/google/SVG/chat_bubble.svg);
  width: 16px;
  height: 16px;
}
.icon-visible::before {
  background-image: url(../assets/site/icons/google/SVG/visibility.svg);
}
.icon-search::before {
  background-image: url(../assets/site/icons/google/SVG/search.svg);
}
.icon-logout::before {
  background-image: url(../assets/site/icons/google/SVG/power_settings_new.svg);
}
.icon-notification::before {
  background-image: url(../assets/site/icons/google/SVG/notifications.svg);
}

.icon-slide-down::before {
  background-image: url(../assets/site/icons/google/SVG/keyboard_arrow_down.svg);
}
.icon-slide-up::before {
  background-image: url(../assets/site/icons/google/SVG/keyboard_arrow_up.svg);
}

.icon-back::before {
  background-image: url(../assets/site/icons/google/SVG/arrow_back.svg);
}

.icon-folder::before {
  background-image: url(../assets/site/icons/google/SVG/folder.svg);
}

.icon-close::before {
  background-image: url(../assets/site/icons/google/SVG/close.svg);
}
.icon-done::before {
  background-image: url(../assets/site/icons/google/SVG/done.svg);
}
.icon-done-all::before {
  background-image: url(../assets/site/icons/google/SVG/done_all.svg);
}

.icon-order::before {
  background-image: url(../assets/site/icons/google/SVG/reorder.svg);
}


// footer icons
.icon-html,
.icon-github,
.icon-css {
  width: 32px;
  height: 32px;
  line-height: 0;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
  // .icon-html > svg,
  // .icon-github > svg,
  // .icon-css > svg{
  //   width: 16px;
  //   height: 16px;
    
  // }

}
